@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    EBX,after having competed its first major installation of a complete asset management design and configuration management system for Hatch Africa in 2001 have since grown from strength to strength and are considered an industry-choice for entities looking to maximise their value engineering, improve or integrate with existing systems, create customized solutions and incorporate ISO 55000 principles. EBX utelises various technologies to offer you the very best value engineering including QR RFID Asset Tags to conveniently assist is managing your assets.
</p>
