@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <center><h3>Expert guidance every step of the way</h3></center>
    <center><h1 style="color:blue;">EBX Engineering</h1></center>
    <center><h3>Cape Town, South Africa</h3></center>

    <p>Contact:    </p> 
    <p>Contact: info@ebx.co.za</p> 
    <p>Contact: Tel: 021 553 0460</p> 
    
   
</div>

