@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h3>Expert Guidance Every Step of the Way</h3></center>
    <center><h1 style="color:blue;">EBX Engineering</h1></center>
    <center><h3>ISO55K Asset Management and QR RFID Asset tagging</h3></center>
  
</div>

<div class="text-center"
<center><h2>Our Services</h2></center>
</div>


<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Images/img_Gears.jpg" width="320" height="150">
        <h2>Engineering and Design</h2>
        <p>
            Utelising only engineers with at least 10 years experience in their respective fields we ensure you get knowledgeable and skilled engineers to provide you industry best practice solutions. Although using Solidworks as native design software we are able to seamlessly integrate with your existing design system.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/img_Computer.jpg" width="320" height="150">
        <h2>Programming and Data</h2>
        <p>At EBX we provide a full range of programming solutions rarely found elsewhere. We can provide support for your legacy systems such as DOS and Fortran as well as SAP, Baan, MS Access, Postgre, SQL, Sharepoint, Siemens, to name but a few and can provide custom solutions or add-ons to your existing systems using C, C#, VB, Android, Apple IOS, Windows, UNIX to name but a few of the platforms, databases and languages we cater for. All programmers are considered experts in their respective fields.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/img_Tag.jpg" width="320" height="150">
        <h2>Asset Management</h2>
        <p>Our unique EMS is the only CMMS with the RSA OSH integrated toegther with ISO 55000 elements. Used by major design houses such as Hatch since 2001 EBX EAMS has ensure optimal value engineering and benefit from engineering resources through all product phases. Prospective clients can benefit immediately from EBX-EAMS systems by allowing EBX to manage engineering assets on their behalf or get EBX to set up an asset management system tailored to your business.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>