

@{
    ViewBag.Title = "ISO55K";
}

<h2>ISO55K</h2>

<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Register Asset Tag &raquo;</a></p>
<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Track Asset by number &raquo;</a></p>