

@{
    ViewBag.Title = "ISO55K";
}

<h2>ISO55K-R3</h2>


<a class="btn btn-default" href="http:///ISO55K/RFI">Track Asset by number &raquo;</a></p>

<!--<p><a class="btn btn-default" href="~/Views/_ViewStart.cshtml">Track Asset by number &raquo;</a></p>
<p><a class="btn btn-default" href="~/Views/_ViewStart.cshtml">Register Asset Tag &raquo;</a></p>-->